
$compass: true;
@import "compass/css3";
@import "compass/typography/lists";
@import "compass/typography/links";



/*-----------------------------------
 Site Styles
-----------------------------------*/

html {
  font-size: $font-size;
}

body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  font-family: $font-family-sans;
  line-height: $line-height;
}

body {
  @extend %uncollapse-margin;
}

a {
  @include link-colors($link-color, $link-color-hover);
  @include hover-link;
}

ul {
  @include no-bullets;
  padding: 0px;
  margin: ($line-height * 1rem) 0;
}

h1,h2, h3 {
  font-family: $font-family-serif;
  font-weight: normal;
}
h4,h5,h6 {
  font-family: $font-family-sans;
  font-weight: bold;
}


/* Set up typographic scale. */

p, h1, h2, h3, h4 { margin-top:0; margin-bottom:0; }

h1 { @include scale-type(scale-to(2), 2, 2); }
h2 { @include scale-type(scale-to(2), 1, 0); }
h3 { @include scale-type(scale-to(1), 1, 0, 1); }
h4 { @include scale-type(scale-to(0), 1, 0); }
p  { @include scale-type(scale-to(0), 1, 0); }

h4+p { margin-top: 0; }

small { font-size: scale-to(-1); }

@media only screen and (min-width: 480px) {
  h1 { @include scale-type(scale-to(3), 2, 2); }
}


/*-----------------------------------
 Page Layout / Composition
-----------------------------------*/


.home {

  h1 {
    @include grid-border($font-color);
  }

  #container {
    @include bg-grid();
    background-position: 0 1.25em;
    background-origin: content-box;

    padding: 0 1.5em;

    @extend %uncollapse-margin;
  }


  .main {
    .work-types {
    }
    .experience {
    }
    .organization {
      .when {
        padding-left: .5em;
        color: lighten($font-color, 33%);
      }
    }

    .work-type, .experience {
      h1 {
        @extend h4;
      }
    }
  }
}


$content-width: 35em;

@media only screen and (min-width: $content-width) {
  .home {
    #container {
      $content-width: $content-width;
      $width: 50em;
      $padding: ($width - $content-width);
      padding: 0 ($padding*2/3) 0 ($padding/3);
      max-width: $width;
      margin: 0 auto;
    }
  }

}











