

/*-----------------------------------
Site Styles
-----------------------------------*/

html {
  font-size: $font-size;
}

body,
select,
input,
textarea {
  color: $font-color;
  font-family: $font-family-sans;
  line-height: $line-height;
}

body {
  @extend %uncollapse-margin;
}

/*
http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
Sure, this may be doable with *:nth-child(n+2) {...}, but I love
seeing the owl staring at me every time I scroll past :)
*/
* + * {
  margin-top: lines(1);
  margin-bottom: 0;
}
*:first-child { margin-top: 0; }
li + li { margin-top: 0; }

a {
  @include link-colors($link-color, $link-color-hover);
  @include hover-link;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: lines(1) 0;
}

img {
  max-width: 100%;
}

@media print {
  body,
  a {
    color: black;
  }
  
  a[href^="http"]:not([href*="twitter"]) {
    border-bottom: 1px dotted black;
    &:after {
      content: ' (' attr(href) ')';
      word-break: break-all;
    }
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .organization > p {
    page-break-after: avoid;
    page-break-inside: avoid;
  }
  .work {
    page-break-inside: avoid;
  }
}


/* Heading styles */

%h1,%h2,%h3,%h4,%h5 {
  text-transform: none;
  text-align: left;
  color: $font-color;
  a { @include link-colors($font-color, $font-color); }
}

%h1,
%h3 {
  font-family: $font-family-serif;
  font-weight: normal;
}

%h2,
%h4,
%h5 {
  font-family: $font-family-sans;
  font-weight: bold;
}

%h2 {
  text-transform: uppercase;
  text-align: right;
  color: $grid-color;
}

/* Set up typographic scale. */

p { @include scale-type(scale-to(0)); }

%h1 {
  @include scale-type(scale-to(2), 2, 2);
  @media only screen and (min-width: 480px) {
    @include scale-type(scale-to(3), 2, 2);
  }
}

%h2 {
  @include scale-type(scale-to(2), 2, 2);
  @media only screen and (min-width: 480px) {
    @include scale-type(scale-to(3), 2, 2, 2);
  }
}

%h3 { @include scale-type(scale-to(1), default, 0, 1); }
%h4 {
  @include scale-type(scale-to(0));
  & + * { margin-top: 0; }
}

@mixin heading-level($level) {
  h1,
  h2,
  h3,
  h4 {
    @extend %h#{$level};
  }
}


small { font-size: scale-to(-1); }

@media print {
  %h2 {
    color: black;
    font-weight: normal;
    font-family: $font-family-serif;
    text-transform: none;
    text-align: center;
    margin-bottom: lines(1);
  }
}


/*-----------------------------------
  Common Layout / Composition
-----------------------------------*/

.site-header {
  @extend %clearfix;

  @include heading-level(1);

  h1 {
    @include grid-border($font-color);
    margin-bottom: 0;
    @media only screen { span { @include visuallyhidden; } }
  }

  nav {
    float: right;

    ul {
      margin-top: 0;
    }
  }
}

nav {
  margin: 0;
  li {
    display: inline-block;
    margin: 0;

    &:first-child:before {
      display: none;
    }

    &:before {
      content: '/';
      padding: 0 .25em;
    } 
  }

  .active {
    font-weight: bold;
    text-transform: uppercase;
  }
}

.container {
  @extend %uncollapse-margin;
  
  @media only screen {
    @include bg-grid();
    background-position: 0 1.25em;
    background-origin: content-box;
  }
  margin-top: 0;
  padding: 0 1.5em lines(1);
}

$content-width: 35em;
$container-width: 50em;

@media only screen and (min-width: $content-width) {
  $padding: ($container-width - $content-width);

  .container {
    padding: 0 ($padding*2/3) lines(1) ($padding/3);
    max-width: $container-width;
    margin: 0 auto;
  }
}

footer.container {
  @extend %clearfix;
  
  & > * { font-size: .75em;}

  color: lighten($font-color, 50%);
  // a { @include link-colors(lighten($link-color, 50%), lighten($link-color-hover, 50%)); }
  background: #fff;
  padding: 0 .5em 2em;

  .copy {
    margin-top: lines(1);
    float: left;

    p,
    nav,
    ul {
      display: inline;
    }
  }

  .poweredby {
    float: left;
    clear: left;
    @media only screen and (min-width: $content-width) {
      clear: none;
      float: right;
    }
  }
}


.tags {
  margin: 0;
}

%tag {
  @include scale-type(scale-to(-1), 0, 0);
  color: lighten($font-color, 33%);
}

.tags li,
.tag { @extend %tag; }

%header-date {
  padding-left: .5em;
  color: lighten($font-color, 33%);
  white-space: nowrap;
}


@media print {

  .site-header h1 {
    font-size: scale-to(1);
    text-align: right;
    .name {
      float: left;
    }
    .email { 
      float: left;
      clear: left;
      margin: 0;
      font-size: scale-to(-1);
    }
  }
  
  .site-header nav,
  #current-status-,
  #current-status- + *,
  footer > *,
  .contact {
    display: none;
  }
}

/*-----------------------------------
 Page- or section-specific Styles
-----------------------------------*/

.home {
  @media only screen and (min-width: $container-width) {
    margin-top: lines(3);
  }
  .container { position: relative; }
  
  /* dynamic geometry background */
  .geometry {
    /* imitate a background image */
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    
    /* siblings to this element should get a higher z-index
    WARNING: this is probably a bit dangerous... */
    & ~ * {
      position: relative;
      z-index: 200;
    }
    
    /* colors */
    fill: none;
    stroke: rgba(128, 160, 160, .2);
    
    .point { fill: white; stroke: inherit; }
    .handle {
      fill: none;
      stroke: rgba(0,0,0,0);
      stroke-width: 20;
    }
    .active {
      stroke-width: 2px;
      cursor: pointer;
    }
    .hex { stroke: rgba(160, 100, 50, .5); }
  }
}

.about {
  @include heading-level(4);
}

.posts {
  @extend %clearfix;

  header {
    @extend %uncollapse-margin;

    a {
      @include link-colors($font-color, $font-color);
    }
  }

  .pagenav {
    margin-top: lines(2);
    float: right;

    a {
      padding-left: 2em;
    }
  }
}

.article,
.intro,
.experiment {
  header {
    @extend %uncollapse-margin;
    @include heading-level(3);
    
    .date {
      @extend %header-date;
      float: right;
    }
  }

  .content {
    @include heading-level(4);
  }
}


.projects {
  h2 { @extend %h3; }
  * + h2 { margin-top: lines(2); }
  
  .project {
    @include heading-level(4);

    .date {
      @extend %header-date;
      float: right;
      clear: right;
    }

    .tag {
      float: right;

      margin-left: 1em;
      &:nth-of-type(-n+3) {
        clear: right;
      }
    }
    
    p {
      max-width: calc(100% - 4em);
    }
  }
}


.resume {
  & > section h2 { @extend %h2; }
  
  .skills {
    .skill {
      font-weight: bold;
    }
  }
  
  .experience .organization {
    @include heading-level(3);
  }
  .experience .work {
    @include heading-level(4);
  }
  
  .work {
    margin-top: 0;
    margin-bottom: lines(1);
    &:first-of-type { margin-top: lines(1); }
    h4:after {
      font-weight: normal;
      font-size: scale-to(-1);
    }
  }
  
  
  .education .school {
    @include heading-level(3);

    table { margin-top: lines(1); }
    td {
      vertical-align: baseline;
      &:first-child {
        font-weight: bold;
        padding-right: .5em;
      }
    }
  }
  
  .date { @extend %header-date; }
  @media only screen and (max-width: 479px) {
    .date { 
      display: block;
      float: none; 
      padding: 0;
    }
  }
  
  @media only screen {
    a[href^=http]:after {
      content: "⧉";
      font: 1em/1.5em;
      margin: 0 0 0 2px;
      text-align: center;
    }
  }
  
  @media print {
    &:after {
      content: "Thanks for your time and consideration.";
      display: block;
      border-top: 1px solid black;
      margin-top: 2em;
      width: 100%;
    }
    
    .work[data-has-details] {
      h4 {
        display: inline-block;
        vertical-align: top;
        width: 32%;
        padding-right: 1%;
      }
      .details {
        display: inline-block;
        vertical-align: top;
        width: 60%;
        padding-top: .25em;
        font-size: scale-to(-1);
        p { padding-left: .5em; }
        p:first-of-type {
          border-left: 1px dotted black;
        }
      }
      
      @include clearfix;
    }
    
    * + .organization,
    * + .school {
      margin-top: lines(2);
    }
    
    /*** HACK because Chrome isn't respecting page-break-after:avoid properly
        for this one. */
    .organization:nth-of-type(3) { page-break-before: always; }
  }
}

@media only screen {
  .js {
    .work[data-has-details] {
      h4 { cursor: pointer; }
      h4:hover { text-decoration: underline; }
      
    }
    .work[data-has-details]:hover {
      h4:after { content: " (hide description)"; }
    }
    .work.collapse[data-has-details]:not(:target) {
      margin-bottom: 0;
      h4:after { content: " (show description)"; }
      .details { @include visuallyhidden; }
    }
  }
}
