/* line 33, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 40, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 48, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 55, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
[hidden] {
  display: none;
}

/* line 77, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
html {
  background: #fff;
  color: #000;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 92, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 98, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
body {
  margin: 0;
}

/* line 113, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 119, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 132, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 137, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 142, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 147, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 152, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 157, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

/* line 163, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 169, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 173, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 178, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 184, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 191, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 198, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/* line 206, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 213, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 220, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
q {
  quotes: none;
}

/* line 226, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 232, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
small {
  font-size: 80%;
}

/* line 238, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 245, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 249, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 263, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 267, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 274, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/* line 280, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 293, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 299, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 310, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
figure {
  margin: 0;
}

/* line 321, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
form {
  margin: 0;
}

/* line 326, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 335, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 349, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 359, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 368, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 382, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 390, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 399, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 409, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 419, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 425, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 432, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 444, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_main.scss */
html,
button,
input,
select,
textarea {
  color: #222222;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_main.scss */
body {
  font-size: 1em;
  line-height: 1.5;
}

/* line 34, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_main.scss */
::-moz-selection {
  background: #ff5e99;
  text-shadow: none;
}

/* line 39, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_main.scss */
::selection {
  background: #ff5e99;
  text-shadow: none;
}

/* line 45, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 55, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_main.scss */
img {
  vertical-align: middle;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 67, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_main.scss */
textarea {
  resize: vertical;
}

/* line 77, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_main.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: "Mono Social Icons Font";
  src: url('/css/fonts/MonoSocialIconsFont-1.10.eot');
  src: url('/css/fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('eot'), url('/css/fonts/MonoSocialIconsFont-1.10.woff') format('woff'), url('/css/fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'), url('/css/fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* line 16, ../sass/partials/_fonts.scss */
.socialicon, a.socialicon:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* line 30, ../sass/partials/_fonts.scss */
a.socialicon:before {
  content: attr(title);
  margin-right: 0.3em;
}

/**
 Typograhpic scale and rhythm. 
**/
/**
* Grid
*/
/* line 90, ../sass/partials/_page.scss */
body, select, input, textarea {
  color: #222222;
  font-family: "Gudea", sans-serif;
}

/* line 96, ../sass/partials/_page.scss */
body {
  background-color: white;
  background-image: linear-gradient(0deg, transparent 98%, #dddddd 99%, #dddddd), linear-gradient(90deg, transparent 49%, #dddddd 50%, #dddddd 51%, transparent 52%, transparent);
  background-size: 1.5em 1.5em;
  background-position: 0 1.25em;
}

/* line 101, ../sass/partials/_page.scss */
a {
  color: #015c65;
  text-decoration: none;
}
/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #028e9b;
}
/* line 4, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
a:hover {
  text-decoration: underline;
}

/* line 106, ../sass/partials/_page.scss */
ul {
  list-style: none;
  padding: 0px;
}
/* line 11, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

/* line 115, ../sass/partials/_page.scss */
p, h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 117, ../sass/partials/_page.scss */
h1 {
  margin-top: 3rem;
  font-size: 2.44141em;
  line-height: 1.2288;
  margin-bottom: 3rem;
}

/* line 118, ../sass/partials/_page.scss */
h2 {
  margin-top: 1.5rem;
  font-size: 1.95313em;
  line-height: 1.536;
  margin-bottom: 1.5rem;
}

/* line 119, ../sass/partials/_page.scss */
h3 {
  margin-top: 1.5rem;
  font-size: 1.5625em;
  line-height: 1.92;
  margin-bottom: 1.5rem;
}

/* line 120, ../sass/partials/_page.scss */
h4 {
  margin-top: 1.5rem;
  font-size: 1.25em;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

/* line 121, ../sass/partials/_page.scss */
p {
  margin-top: 1.5rem;
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

/* line 123, ../sass/partials/_page.scss */
small {
  font-size: 0.8em;
}

/* line 126, ../sass/partials/_page.scss */
h1, h2, h3 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
}

/* line 130, ../sass/partials/_page.scss */
h4, h5, h6 {
  font-family: "Playfair Display SC", sans-serif;
  font-weight: normal;
}

/* line 136, ../sass/partials/_page.scss */
body:before {
  content: "\00a0";
  /* No-break space character */
  display: block;
  overflow: hidden;
  height: 0;
}

/* line 148, ../sass/partials/_page.scss */
img.favicon {
  margin-right: 5px;
  position: relative;
  top: -2px;
}

/* line 154, ../sass/partials/_page.scss */
.builtwith ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
.builtwith ul, .builtwith ul li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
/* line 29, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
.builtwith ul li:after {
  content: ",";
}
/* line 31, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
.builtwith ul li:last-child:after {
  content: "";
}
/* line 34, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
.builtwith ul li.last:after {
  content: "";
}
/* line 49, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-block-list.scss */
.builtwith ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  white-space: nowrap;
}

/* line 160, ../sass/partials/_page.scss */
.taglines {
  font-family: "Playfair Display SC", sans-serif;
}

/* line 165, ../sass/partials/_page.scss */
.social ul {
  list-style-type: none;
}
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
.social ul, .social ul li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
/* line 168, ../sass/partials/_page.scss */
.social a.socialicon {
  text-decoration: none;
}
/* line 170, ../sass/partials/_page.scss */
.social a.socialicon:before {
  font-size: 1.333333em;
  line-height: 1.5rem;
}

/* line 177, ../sass/partials/_page.scss */
.card {
  padding: 2rem 5px;
  margin: 1rem 0;
  background: white;
  -webkit-box-shadow: #aaaaaa 1px 1px 1px 1px;
  -moz-box-shadow: #aaaaaa 1px 1px 1px 1px;
  box-shadow: #aaaaaa 1px 1px 1px 1px;
  -webkit-transform: perspective(600px);
  -moz-transform: perspective(600px);
  -ms-transform: perspective(600px);
  -o-transform: perspective(600px);
  transform: perspective(600px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
/* line 189, ../sass/partials/_page.scss */
.card:hover {
  -webkit-transform: perspective(600px) translateZ(5px);
  -moz-transform: perspective(600px) translateZ(5px);
  -ms-transform: perspective(600px) translateZ(5px);
  -o-transform: perspective(600px) translateZ(5px);
  transform: perspective(600px) translateZ(5px);
  -webkit-box-shadow: #aaaaaa 4px 4px 10px 1px;
  -moz-box-shadow: #aaaaaa 4px 4px 10px 1px;
  box-shadow: #aaaaaa 4px 4px 10px 1px;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

/* line 204, ../sass/partials/_page.scss */
#container > footer {
  margin-top: 1em;
  margin-bottom: 1em;
  /** 
  * Shadow over page footer.
  */
  overflow: hidden;
  text-align: center;
  color: #222222;
  background-color: white;
  font-size: .75em;
}
/* line 213, ../sass/partials/_page.scss */
#container > footer > .shadowhack {
  margin-bottom: 1em;
}
/* line 214, ../sass/partials/_page.scss */
#container > footer > .shadowhack:before {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
  -webkit-box-shadow: #555555 2px 2px 12px 2px;
  -moz-box-shadow: #555555 2px 2px 12px 2px;
  box-shadow: #555555 2px 2px 12px 2px;
}

/* line 235, ../sass/partials/_page.scss */
#main {
  max-width: 41em;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 239, ../sass/partials/_page.scss */
#main .social h2 {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 67, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_helpers.scss */
#main .social h2.focusable:active, #main .social h2.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* line 244, ../sass/partials/_page.scss */
#main > header h1 {
  text-align: center;
}
/* line 247, ../sass/partials/_page.scss */
#main > header .social {
  text-align: center;
  height: 1.5rem;
}
/* line 255, ../sass/partials/_page.scss */
#main #work-types {
  float: left;
  margin-left: 5%;
  width: 45%;
}
/* line 75, ../sass/partials/_page.scss */
#main #work-types:first-of-type {
  margin-left: 0;
}
/* line 258, ../sass/partials/_page.scss */
#main #experience {
  float: left;
  margin-left: 5%;
  width: 45%;
}
/* line 75, ../sass/partials/_page.scss */
#main #experience:first-of-type {
  margin-left: 0;
}

/* line 7, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_helpers.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
/* line 27, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_helpers.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 9, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 11, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 67, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 13, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 93, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 98, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_helpers.scss */
.clearfix:after {
  clear: both;
}
/* line 104, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_helpers.scss */
.clearfix {
  *zoom: 1;
}

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
}
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}
@media print {
  /* line 11, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_media.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 19, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_media.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 23, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 27, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 37, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_media.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 42, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_media.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 47, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 52, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_media.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 56, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_media.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 66, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_media.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 72, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_media.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* Style adjustments for print go here */
}
