/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers: h5bp.com/u
 */
/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/*
 * Hide visually and from screen readers, but maintain layout
 */
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.header:before, footer.container:before, .posts:before,
.header:after,
footer.container:after,
.posts:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.header:after, footer.container:after, .posts:after {
  clear: both; }

/* uncollapse margins */
body:before, .container:before, .posts header:before, .article header:before,
.intro header:before,
.experiment header:before, body:after, .container:after, .posts header:after, .article header:after,
.intro header:after,
.experiment header:after {
  content: "\00a0";
  /* nbsp; */
  display: block;
  overflow: hidden;
  height: 0; }

/*
http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Tomorrow Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
.tomorrow-comment, pre .comment, pre .title {
  color: #8e908c; }

.tomorrow-red, pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
  color: #c82829; }

.tomorrow-orange, pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
  color: #f5871f; }

.tomorrow-yellow, pre .class, pre .ruby .class .title, pre .css .rules .attribute {
  color: #eab700; }

.tomorrow-green, pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
  color: #718c00; }

.tomorrow-aqua, pre .css .hexcolor {
  color: #3e999f; }

.tomorrow-blue, pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title {
  color: #4271ae; }

.tomorrow-purple, pre .keyword, pre .javascript .function {
  color: #8959a8; }

pre {
  display: block;
  margin: 1.5rem 0;
  background: rgba(200, 200, 200, 0.2); }
  pre code {
    display: block; }

code {
  color: #4d4d4c;
  font-family: Menlo, Monaco, Consolas, monospace; }

/*-----------------------------------
Site Styles
-----------------------------------*/
html {
  font-size: 16px; }

body,
select,
input,
textarea {
  color: #222;
  font-family: "Gudea", sans-serif;
  line-height: 1.5; }

a {
  color: #0002CC;
  text-decoration: none; }
  a:hover {
    color: #0002CC; }
  a:hover {
    text-decoration: underline; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 1.5rem 0; }

img {
  max-width: 100%; }

/* Heading styles */
.header h1,
.header h2,
.header h3,
.header h4, .resume > section h1,
.resume > section h2,
.resume > section h3,
.resume > section h4, .article header h1,
.article header h2,
.article header h3,
.article header h4,
.intro header h1,
.intro header h2,
.intro header h3,
.intro header h4,
.experiment header h1,
.experiment header h2,
.experiment header h3,
.experiment header h4, .projects h2, .resume .experience .organization h1,
.resume .experience .organization h2,
.resume .experience .organization h3,
.resume .experience .organization h4, .resume .education .school h1,
.resume .education .school h2,
.resume .education .school h3,
.resume .education .school h4, .about h1,
.about h2,
.about h3,
.about h4, .article .content h1,
.article .content h2,
.article .content h3,
.article .content h4,
.intro .content h1,
.intro .content h2,
.intro .content h3,
.intro .content h4,
.experiment .content h1,
.experiment .content h2,
.experiment .content h3,
.experiment .content h4, .projects .project h1,
.projects .project h2,
.projects .project h3,
.projects .project h4, .resume .experience .work h1,
.resume .experience .work h2,
.resume .experience .work h3,
.resume .experience .work h4 {
  text-transform: none;
  text-align: left;
  color: #222; }
  .header h1 a,
  .header h2 a,
  .header h3 a,
  .header h4 a, .resume > section h1 a,
  .resume > section h2 a,
  .resume > section h3 a,
  .resume > section h4 a, .article header h1 a,
  .article header h2 a,
  .article header h3 a,
  .article header h4 a,
  .intro header h1 a,
  .intro header h2 a,
  .intro header h3 a,
  .intro header h4 a,
  .experiment header h1 a,
  .experiment header h2 a,
  .experiment header h3 a,
  .experiment header h4 a, .projects h2 a, .resume .experience .organization h1 a,
  .resume .experience .organization h2 a,
  .resume .experience .organization h3 a,
  .resume .experience .organization h4 a, .resume .education .school h1 a,
  .resume .education .school h2 a,
  .resume .education .school h3 a,
  .resume .education .school h4 a, .about h1 a,
  .about h2 a,
  .about h3 a,
  .about h4 a, .article .content h1 a,
  .article .content h2 a,
  .article .content h3 a,
  .article .content h4 a,
  .intro .content h1 a,
  .intro .content h2 a,
  .intro .content h3 a,
  .intro .content h4 a,
  .experiment .content h1 a,
  .experiment .content h2 a,
  .experiment .content h3 a,
  .experiment .content h4 a, .projects .project h1 a,
  .projects .project h2 a,
  .projects .project h3 a,
  .projects .project h4 a, .resume .experience .work h1 a,
  .resume .experience .work h2 a,
  .resume .experience .work h3 a,
  .resume .experience .work h4 a {
    color: #222; }
    .header h1 a:hover,
    .header h2 a:hover,
    .header h3 a:hover,
    .header h4 a:hover, .resume > section h1 a:hover,
    .resume > section h2 a:hover,
    .resume > section h3 a:hover,
    .resume > section h4 a:hover, .article header h1 a:hover,
    .article header h2 a:hover,
    .article header h3 a:hover,
    .article header h4 a:hover,
    .intro header h1 a:hover,
    .intro header h2 a:hover,
    .intro header h3 a:hover,
    .intro header h4 a:hover,
    .experiment header h1 a:hover,
    .experiment header h2 a:hover,
    .experiment header h3 a:hover,
    .experiment header h4 a:hover, .projects h2 a:hover, .resume .experience .organization h1 a:hover,
    .resume .experience .organization h2 a:hover,
    .resume .experience .organization h3 a:hover,
    .resume .experience .organization h4 a:hover, .resume .education .school h1 a:hover,
    .resume .education .school h2 a:hover,
    .resume .education .school h3 a:hover,
    .resume .education .school h4 a:hover, .about h1 a:hover,
    .about h2 a:hover,
    .about h3 a:hover,
    .about h4 a:hover, .article .content h1 a:hover,
    .article .content h2 a:hover,
    .article .content h3 a:hover,
    .article .content h4 a:hover,
    .intro .content h1 a:hover,
    .intro .content h2 a:hover,
    .intro .content h3 a:hover,
    .intro .content h4 a:hover,
    .experiment .content h1 a:hover,
    .experiment .content h2 a:hover,
    .experiment .content h3 a:hover,
    .experiment .content h4 a:hover, .projects .project h1 a:hover,
    .projects .project h2 a:hover,
    .projects .project h3 a:hover,
    .projects .project h4 a:hover, .resume .experience .work h1 a:hover,
    .resume .experience .work h2 a:hover,
    .resume .experience .work h3 a:hover,
    .resume .experience .work h4 a:hover {
      color: #222; }

.header h1,
.header h2,
.header h3,
.header h4,
.article header h1,
.article header h2,
.article header h3,
.article header h4,
.intro header h1,
.intro header h2,
.intro header h3,
.intro header h4,
.experiment header h1,
.experiment header h2,
.experiment header h3,
.experiment header h4,
.projects h2,
.resume .experience .organization h1,
.resume .experience .organization h2,
.resume .experience .organization h3,
.resume .experience .organization h4,
.resume .education .school h1,
.resume .education .school h2,
.resume .education .school h3,
.resume .education .school h4 {
  font-family: "Playfair Display", serif;
  font-weight: normal; }

.resume > section h1,
.resume > section h2,
.resume > section h3,
.resume > section h4,
.about h1,
.about h2,
.about h3,
.about h4,
.article .content h1,
.article .content h2,
.article .content h3,
.article .content h4,
.intro .content h1,
.intro .content h2,
.intro .content h3,
.intro .content h4,
.experiment .content h1,
.experiment .content h2,
.experiment .content h3,
.experiment .content h4,
.projects .project h1,
.projects .project h2,
.projects .project h3,
.projects .project h4,
.resume .experience .work h1,
.resume .experience .work h2,
.resume .experience .work h3,
.resume .experience .work h4 {
  font-family: "Gudea", sans-serif;
  font-weight: bold; }

.resume > section h1,
.resume > section h2,
.resume > section h3,
.resume > section h4 {
  text-transform: uppercase;
  text-align: right;
  color: #ddd; }

/* Set up typographic scale. */
/* zero out the actual margins for headings, to be overridden below. */
p,
h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-top: 1.5rem;
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 0rem; }

.header h1,
.header h2,
.header h3,
.header h4 {
  margin-top: 3rem;
  font-size: 2.25em;
  line-height: 1.33333;
  margin-bottom: 3rem; }
  @media only screen and (min-width: 480px) {
    .header h1,
    .header h2,
    .header h3,
    .header h4 {
      margin-top: 3rem;
      font-size: 3.375em;
      line-height: 1.33333;
      margin-bottom: 3rem; } }

.resume > section h1,
.resume > section h2,
.resume > section h3,
.resume > section h4 {
  margin-top: 3rem;
  font-size: 3.375em;
  line-height: 0.88889;
  margin-bottom: 3rem; }

.article header h1,
.article header h2,
.article header h3,
.article header h4,
.intro header h1,
.intro header h2,
.intro header h3,
.intro header h4,
.experiment header h1,
.experiment header h2,
.experiment header h3,
.experiment header h4, .projects h2, .resume .experience .organization h1,
.resume .experience .organization h2,
.resume .experience .organization h3,
.resume .experience .organization h4, .resume .education .school h1,
.resume .education .school h2,
.resume .education .school h3,
.resume .education .school h4 {
  margin-top: 1.5rem;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 0rem; }

.about h1,
.about h2,
.about h3,
.about h4, .article .content h1,
.article .content h2,
.article .content h3,
.article .content h4,
.intro .content h1,
.intro .content h2,
.intro .content h3,
.intro .content h4,
.experiment .content h1,
.experiment .content h2,
.experiment .content h3,
.experiment .content h4, .projects .project h1,
.projects .project h2,
.projects .project h3,
.projects .project h4, .resume .experience .work h1,
.resume .experience .work h2,
.resume .experience .work h3,
.resume .experience .work h4 {
  margin-top: 1.5rem;
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 0rem;
  /* This level of heading should go flush with proceeding text.*/ }
  .about h1 + p,
  .about h2 + p,
  .about h3 + p,
  .about h4 + p, .article .content h1 + p,
  .article .content h2 + p,
  .article .content h3 + p,
  .article .content h4 + p,
  .intro .content h1 + p,
  .intro .content h2 + p,
  .intro .content h3 + p,
  .intro .content h4 + p,
  .experiment .content h1 + p,
  .experiment .content h2 + p,
  .experiment .content h3 + p,
  .experiment .content h4 + p, .projects .project h1 + p,
  .projects .project h2 + p,
  .projects .project h3 + p,
  .projects .project h4 + p, .resume .experience .work h1 + p,
  .resume .experience .work h2 + p,
  .resume .experience .work h3 + p,
  .resume .experience .work h4 + p {
    margin-top: 0; }

small {
  font-size: 0.66667em; }

/*-----------------------------------
  Common Layout / Composition
-----------------------------------*/
.header h1 {
  position: relative;
  margin-bottom: 0; }
  .header h1:before {
    position: absolute;
    top: -.08em;
    bottom: -.4em;
    left: -.24em;
    content: " ";
    width: 1px;
    border-left: 1px solid #222; }
  .header h1:after {
    position: absolute;
    left: -.66em;
    right: 0;
    bottom: 2px;
    content: " ";
    border-top: 1px solid #222; }
.header nav {
  float: right; }
  .header nav ul {
    margin-top: 0; }

nav li {
  display: inline-block; }
  nav li:first-child:before {
    display: none; }
  nav li:before {
    content: '/';
    padding: 0 .25em; }
nav .active {
  font-weight: bold;
  text-transform: uppercase; }

.container {
  background-color: transparent;
  background-image: linear-gradient(0deg, transparent 98.5%, #ddd 99%, #ddd), linear-gradient(90deg, transparent 49.5%, #ddd 50%, #ddd 51%, transparent 51.5%, transparent);
  background-size: 1.5em 1.5em;
  background-position: 0 1.25em;
  background-origin: content-box;
  padding: 0 1.5em 1.5rem; }

@media only screen and (min-width: 35em) {
  .container {
    padding: 0 10em 1.5rem 5em;
    max-width: 50em;
    margin: 0 auto; } }
footer.container {
  background: #fff;
  padding: 0 0 2em; }
  footer.container .copy {
    margin-top: 1.5rem;
    float: left; }
    footer.container .copy p,
    footer.container .copy nav,
    footer.container .copy ul {
      display: inline; }
  footer.container .poweredby {
    float: right; }

.tags {
  margin: 0; }

.tags li,
.tag {
  margin-top: 0rem;
  font-size: 0.66667em;
  line-height: 2.25;
  margin-bottom: 0rem;
  color: #767676; }

.article header .date,
.intro header .date,
.experiment header .date, .projects .project .date, .resume .experience .organization .date, .resume .education .school .date {
  padding-left: .5em;
  color: #767676;
  white-space: nowrap; }

/*-----------------------------------
 Page- or section-specific Styles
-----------------------------------*/
.posts header {
  margin-top: 1.5rem; }
  .posts header a {
    color: #222; }
    .posts header a:hover {
      color: #222; }
.posts .pagenav {
  margin-top: 3rem;
  float: right; }
  .posts .pagenav a {
    padding-left: 2em; }

.article header .date,
.intro header .date,
.experiment header .date {
  float: right;
  margin-top: 1.5rem; }

.projects * + h2 {
  margin-top: 3rem; }
.projects .project .date {
  float: right;
  clear: right; }
.projects .project .tag {
  float: right;
  margin-left: 1em; }
  .projects .project .tag:nth-of-type(-n+3) {
    clear: right; }
.projects .project p {
  max-width: calc(100% - 4em); }

.resume .skills .skill {
  font-weight: bold; }
.resume .education .school table {
  margin-top: 1.5rem; }
.resume .education .school td {
  vertical-align: baseline; }
  .resume .education .school td:first-child {
    font-weight: bold;
    padding-right: .5em; }
