// This file must be imported before loading html5-boilerplate

$line-height: 1.5 !default;
$font-size: 1em !default;

$font-color: #222 !default;
$font-color-inverse: #222 !default;

$link-color: #015C65 !default;
$link-color-hover: #028E9B !default;

$selected-font-color: #fff !default;
$selected-background-color: #ff5e99 !default;
$invalid-background-color: #f0dddd !default;

$background-color: #fff;
$shadow-color: #aaa;
$behind-background-color: #fff;
$behind-background-shadow-color: #555;

$font-family-serif: "Playfair Display", serif;
$font-family-sans: "Gudea", sans-serif;
$font-family-display: "Playfair Display SC", sans-serif;

