extends layout

block append vars
  - bodyclass = 'home'
  - activeSection = 'home'

block content
  block about
    section.about
      != typogr(contents.about['index.md'].html).typogrify()
      nav
        include contact
