doctype html
block vars
  - var bodyclass = null;
  - var metadata = page && page.metadata || {}
  - var activeSection = metadata.activeSection || null
  - var description = metadata.description || locals.description
  - var title = (metadata.title ? (metadata.title + ' - ') : '') + locals.name
  
html.no-js(lang='')
  head
    block head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')

      title
        block title
          = title.trim()
      meta(name='description', content=description.trim())


      link(rel='stylesheet', type='text/css', href='/css/normalize.css')
      link(rel='stylesheet', type='text/css', href='/css/style.css')
      link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Playfair+Display|Playfair+Display+SC|Open+Sans|Gudea:400,700,400italic')

      meta(name="google-site-verification",content="EzZE5XKp-gONi3TwRsa5riwb2NBjkOCFb6LGy3PNq7g")

      script(src='/js/vendor/modernizr.custom.js')


  body(class=bodyclass)
    | <!--[if lt IE 10]>
    | <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    | <![endif]-->

    div.container
      block main-container
        header.site-header
          block header
            h1
              span.name Anand Thakker
              span.email 
              span.protocol http://
              | Anand Thakker
            include navigation

        main.main
          block content
            != typogr(page.html).typogrify()

    footer.container
      block footer
        section.copy
          p &copy; #{ new Date().getFullYear() } #{ locals.owner }
          nav: ul
            li: a(href="/about") about
            li: a(href="https://twitter.com/anandthakker") twitter
            li: a(href="https://github.com/anandthakker") github
        section.poweredby
          p Powered by&nbsp;
            a(href='https://github.com/jnordberg/wintersmith') Wintersmith

    block scripts
      script(src='/js/main.js')

    script.
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '5800b9ebbb922a05c1005e66');
        t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
        t.src = 'https://d36ee2fcip1434.cloudfront.net/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
