extends notes

block append vars
  - activeSection = page.metadata.activeSection
  - bodyclass = page.metadata.bodyClass

block content
  block about
    section.about
      != typogr(contents.about['index.md'].html).typogrify()
      nav
        !=contents['social.md'].html
  section.posts
    each proj in contents.projects
      if proj['index.md'] && !proj['index.md'].metadata.draft
        - proj = proj['index.md']
        article.intro
          header
            span.date
              != moment.utc(proj.date).format('DD MMMM YYYY')
            h3
              a(href=proj.url)= proj.title

          section.content
            | !{ typogr(proj.intro).typogrify() }
            if proj.hasMore
              a.more(href=proj.url) (more)
