extends layout

block append vars
  - activeSection = page.metadata.activeSection
  - bodyclass = page.metadata.bodyClass

block content

  section.posts

    - function projects(list, type) {
    - list = _.chain(list).values().pluck('index.md').compact()
    - list = list.sortBy('date').reverse()
    - list = list.value()
    each proj in list
      if !proj.metadata.draft && (!type || proj.metadata.type == type)
        article.project
          span.date
            != moment.utc(proj.date).format('DD MMMM YYYY')
          each tag in proj.metadata.tags
            div.tag= tag

          h3
            a(href=proj.url)= proj.title

          p
            | !{ typogr(proj.metadata.description).typogrify() }
            a.more(href=proj.intro.trim().length > 0 ? proj.url : proj.metadata.github) (read more)

            if proj.metadata.github
              a.repo(href='https://github.com/'+proj.github) (github)
    - }
    
    h2 Projects
    - projects(contents.projects, 'project')

    h2 Sketches / Experiments
    - projects(contents.projects, 'experiment')
